/*
  Made by: SomeAspy#9999 (https://aspy.dev)
*/
html{
  margin:0;
  height: 100%;
  overflow-x: hidden;
}
body{
  background: url(./images/background.webp);
  background-position:center;
  background-attachment: fixed;
  background-repeat:no-repeat;
  background-size:cover;
}
.pageTitle{
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 4vw;
  font-family: 'Roboto', sans-serif;
  text-shadow: 0 0 10px #000;
  white-space: nowrap;
}
.users{
  position: absolute;
  display:grid;
  grid-template-columns:auto auto auto auto auto;
  grid-gap: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}
.invite{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color:#7289DA;
  border-radius: 10px;
  padding:1%;
  width:auto;
  text-align: center;
  color: #fff;
  font-size: 4vh;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  box-shadow: 0 0 10px #000;
  text-decoration: none;
  color: #fff;
}
.invite:hover{
  background-color:#4E5D94;
  animation: ease;
  transition-timing-function: ease-in-out;
  transition-duration: 0.15s;
}
.userElement{
  border-radius: 25px;
  width: 20vh;
  height: 20vh;
  text-align: center;
  color: rgb(247, 247, 255);
  background:
      linear-gradient(
          rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0.5)
      );
  white-space: normal;
  text-decoration:none;
  display: flex;
  flex-direction: column;
  transition: all .2s ease-in-out;
}
.PFPElement{
  margin:auto;
  position: relative;
  top: 60%;
  left: 50%;
  transform: translate(-100%, -100%);
  width: 50%;
  height: 50%;
  border-radius: 100%;
}
.usernameElement{
  margin-top:15%;
  margin-bottom: 15%;
  font-size: 150%;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  flex-wrap: wrap;
}
.userElement:hover{
  transform:scale(1.05);
}
.online{
  border:3px solid #3AA55D;
}
.dnd{
  border:3px solid #dc3d40;
}
.idle{
  border:3px solid #eea019;
}
.offline{
  border:3px solid #747f8d;
}
.onlineUsers{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 4vh;
  font-family: 'Roboto', sans-serif;
  text-shadow: 0 0 10px #000;
  white-space: nowrap;
}
@media only screen and (max-width: 600px) {
  .pageTitle{
    font-size: 6vw;
  }
  .invite{
    font-size: 10vw;
  }
  .users{
    position: absolute;
    display:grid;
    grid-template-columns:auto auto;
    grid-gap: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
  }
  html{
    overflow-y:scroll;
  }
  .userElement{
    height:30vh;
  }
  .PFPElement
  {
    width:auto;
    transform: translate(-60%,-100%)
  }
  .usernameElement{
    font-size: 100%;
  }
  .userElement:hover{
    transform:scale(1.00);
  }
}