/*
  Made by:
  SomeAspy#9999 (https://aspy.dev)
  Sun#1000
*/

html{
  margin:0;
  height: 100%;
}

body{
  margin:0;
  overflow: hidden;
}

.background{
  background: url(./images/background.webp);
  background-position:center;
  background-attachment: scroll;
  background-repeat:no-repeat;
  background-size:cover;
  height: 100vh;
  width: 100vw;
}

.pageTitle{
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 2.5rem;
  font-family: 'Roboto', sans-serif;
  text-shadow: 0 0 10px #000;
  white-space: nowrap;
}

.users{
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
}

.invite{
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color:#7289DA;
  border-radius: 10px;
  padding:1%;
  width:20%;
  text-align: center;
  color: #fff;
  font-size: 200%;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  box-shadow: 0 0 10px #000;
}
.invite:hover{
  background-color:#4E5D94;
  animation: ease;
  transition-timing-function: ease-in-out;
  transition-duration: 0.15s;
}

a{
  text-decoration: none;
  color: #fff;
}